<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div class="center">
    <th:block th:each="news : ${allNews}">
        <tr>
            <td th:text="${news.id}">...</td>
            <br>
            <td th:text="${news.title}">...</td>
            <br>
            <td th:text="${news.shortText}">...</td>
            <a th:href="@{|/news/${news.id}|}">Read more</a>
            <br>
        </tr>
    </th:block>
    <br>
    <a href="/publish">Предложить новость</a>
    <br>
    <form th:action="@{/next}" method="get">


    </form>

</div>
</body>
</html>