<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div class="center">

    <th:block th:each="news : ${allNews}">
        <table style="width:100%">
            <tr>
                <!--<td th:text="${news.id}">...</td>-->
                <!--<br>-->
            <tr style="background-color:#f1f1c1">
                <th th:text="${news.title}">...</th>
                <br>
            </tr>
            <td th:text="${news.shortText}">...</td>
            </tr>
        </table>
        <a th:href="@{|/news/${news.id}|}">Read more</a>
    </th:block>

    <br>
    <a href="/publish">Предложить новость</a>
    <br>
    <form th:action="@{/}" method="get">
        <button name="number" type="submit" value="0">1</button>
        <button name="number" type="submit" value="1">2</button>
        <button name="number" type="submit" value="2">3</button>
    </form>

</div>
</body>
</html>