<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <tr>
        <td th:text="${news.id}">...</td>
        <br>
        <td th:text="${news.title}">...</td>
        <br>
        <td th:text="${news.content}">...</td>
        <br>
    </tr>
<h1>Leave a comment</h1>
<form action="#" th:action="@{/comment}" method="post">
    <p>Comment: <input type="text" name="commentContent" required minlength="2" maxlength="500"></p>
    <input id="id" name="newsId" type="hidden" th:value="${news.id}"/>
    <p><input type="submit" value="comment on" /> </p>
</form>
</body>
</html>