<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="center">
    <tr>
        <td th:text="${news.id}">...</td>
        <br>
        <td th:text="${news.title}">...</td>
        <br>
        <td th:text="${news.content}">...</td>
        <br>
    </tr>


<h6>Leave a comment</h6>
<form action="#" th:action="@{/comment}" method="post">
    <p>Comment: <input type="text" name="commentContent" required minlength="2" maxlength="500"></p>
    <input id="id" name="newsId" type="hidden" th:value="${news.id}"/>
    <p><input type="submit" value="comment on" /> </p>
</form>

    <th:block th:each="comment : ${comments}">
        <tr>
            <td th:text="${comment.content}" >...</td>
            <br>
            <form action="#" th:action="@{/delete}" method="post">
                <input id="commentId" name="commentId" type="hidden" th:value="${comment.commentId}"/>
                <p><input type="submit" value="delete" /> </p>
            </form>
        </tr>
    </th:block>
</div>
</body>
</html>