<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Publication news</title>
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
<div class="center">
<h1>Publication news</h1>
<form action="#" th:action="@{/publication}" method="post">
    <p>Title: <input type="text" name="title" required minlength="2" maxlength="500"></p>
    <p>Content: <input type="text" name="content" required minlength="2" maxlength="500"></p>
    <p><input type="submit" value="Publish" /> </p>
</form>
</div>
</body>
</html>